*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/assets/seetaface

!.gitignore
/app/src/main/assets/seetaface/SeetaFaceDetector2.0.ats
/app/src/main/assets/seetaface/SeetaFaceRecognizer2.0.ats
/app/src/main/assets/seetaface/SeetaPointDetector2.0.pts5.ats
